@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-primary: #ff0080;
  --color-background-dark: #212121;
  --color-background-light: #ffffff;
  --color-card-dark: #313131;
}

@layer base {
  :root {
    --bg-color: var(--color-background-light);
    --text-color: #1a1a1a;
    --card-bg: rgba(0, 0, 0, 0.05);
    --border-color: rgba(0, 0, 0, 0.05);
    --muted-text: #64748b;
    --nav-bg: #FFF5F7;
    --nav-icon-unselected: #64748b;
  }

  :root.dark {
    --bg-color: var(--color-background-dark);
    --text-color: #ffffff;
    --card-bg: rgba(255, 255, 255, 0.05);
    --border-color: rgba(255, 255, 255, 0.05);
    --muted-text: #94a3b8;
    --nav-bg: #1a1a1a;
    --nav-icon-unselected: #FFF5F7;
  }

  body {
    background-color: var(--bg-color);
    color: var(--text-color);
    @apply font-sans transition-colors duration-300;
    -webkit-tap-highlight-color: transparent;
  }
}

.pie-chart-gradient {
  background: conic-gradient(
    #ff0080 0% 45%, 
    #ce8dad 45% 75%, 
    #4b2036 75% 100%
  );
}

